py-sudoku
paddlepaddle==3.0.0b1
paddleocr
imutils
tesseract
pytesseract
Pillow
scikit-image
numpy==1.23.5
streamlit==1.42.0
opencv-python-headless==4.6.0.66
albumentations
streamlit-paste-button
